<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>                       <string>io.github.theyluvenething.awake</string>
    <key>BundleProgram</key>               <string>Contents/MacOS/awake</string>
    <key>RunAtLoad</key>                   <true/>
    <key>KeepAlive</key>                   <dict><key>SuccessfulExit</key><false/></dict>
    <key>LimitLoadToSessionType</key>      <string>Aqua</string>
    <key>ProcessType</key>                 <string>Interactive</string>
    <key>AssociatedBundleIdentifiers</key> <array><string>io.github.theyluvenething.awake</string></array>
</dict>
</plist>
